/*-----------------------------------------------------------*/
/*--------------------- GENERAL STYLES ----------------------*/
/*-----------------------------------------------------------*/
@font-face {
  font-family: iconFont;
  src: url(../fonts/icons.woff);
}

body {
  font-family: $font_body;
  font-size:   $font_size_body;
  line-height: $line_height_body;

  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  overflow-x: hidden;
}

a,
a:hover {
  color: $color_primary;
  text-decoration: none;

  @include transition(color 300ms ease-in-out);
}

a:hover {
  color: $color_link_hover;
}

p {
  letter-spacing: 1px;
}

ul {
  margin:  0;
  padding: 0;
  list-style: none;
}

::placeholder {
  color: $color_additional;
}

::-webkit-input-placeholder  {
  color: $color_additional;
}

:-ms-input-placeholder {
  color: $color_additional;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}


.bg-main {
  //background-image: url('../img/bg.jpg');
  background-repeat: no-repeat;
  height: 300px;
}

.content {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  .item {
    margin: 0 15px;
    margin-bottom: 40px;
  }

  .item:nth-child(3n+1) {
    margin-left: 0;
  }

  .item:nth-child(3n) {
    margin-right: 0;
  }
}

.flex {
  display: flex;

  &--center {
    align-items: center;
  }
}

/*-----------------------------------------------------------*/
/*--------------------- TYPOGRAPHY STYLES -------------------*/
/*-----------------------------------------------------------*/
h1,
h2,
h3,
h4,
h5 {
  color: $color_primary;
}


/*-----------------------------------------------------------*/
/*--------------------- HEADER STYLES -----------------------*/
/*-----------------------------------------------------------*/
.header {
  padding-top: 20px;
}


/*--------------------- Logo --------------------------------*/
.logo {
  font-weight: normal;
  text-align: center;
  margin: 0;
  position: relative;

  &:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 13px;
    left: 0;
    background-color: $color_primary;
    height: 1px;
    width: 100%;
    z-index: -1;
  }

  &__link {
    display: inline-block;
    padding: 0 20px;
    background-color: $color_inverse;

    &:hover {
      color: $color_primary;
    }
  }

  &__text {
    font-family:    $font_logo;
    font-size:      $font_size_logo;
    vertical-align: middle;
  }

  &__img {
    max-height: 35px;
    height: 100%;
    vertical-align: middle;
  }
}

/*-----------------------------------------------------------*/
/*--------------------- COMPOSING STYLES --------------------*/
/*-----------------------------------------------------------*/
.mt-25  { margin-top: 25px  }
.mt-50  { margin-top: 50px  }
.mt-75  { margin-top: 75px  }
.mt-100 { margin-top: 100px }

.mb-25  { margin-bottom: 25px  }
.mb-50  { margin-bottom: 50px  }
.mb-75  { margin-bottom: 75px  }
.mb-100 { margin-bottom: 100px }

/*-----------------------------------------------------------*/
/*--------------------- FILTERS STYLES ----------------------*/
/*-----------------------------------------------------------*/
.filters {
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filter__group .filters__box:first-child {
  margin-right: 20px;
}

.filters__box .radio {
  margin-left: 20px;
}

.select {
  position: relative;
  z-index: $z-index-select;

  &__active-item {
    cursor: pointer;
    background-color: transparent;
    border: 1px solid $color_additional;
    padding: 0.5em 1em;
    line-height: 1em;
  }

  &__list {
    display: none;
    border: 1px solid $color_additional;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: $color_inverse;
    width: 100%;
    box-sizing: border-box;
  }

  &__list-item {
    cursor: pointer;
    padding: 1em;
    line-height: 1em;

    &:hover,
    &.is-active {
      background-color: $color_additional;
    }
  }

  .select__active-item span {
    margin-right: 10px;
  }

  .select__active-item .icon:nth-child(3) {
    display: none;
  }

  &:hover .select__active-item .icon:nth-child(2) {
    display: none;
  }

  &:hover .select__active-item .icon:nth-child(3) {
    display: inline;
  }

  &:hover .select__list {
    display: block;
    border-top: none;
  }
}

.radio {
  position: relative;
  line-height: 17px;

  label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
  }

  label:before,
  label:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid $color_additional;
    z-index: $z-index-radio;
  }

  label:after {
    background-color: $color_primary;
    transition: transform .1s ease-in-out;
    transform: scale(0);
    z-index: $z-index-radio + 1;
  }

  input[type=radio] {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
  }

  input[type=radio]:checked + label:after {
    transform: scale(.5);
  }
}

.text-field {
  padding: 0.5em 1em;
  border: 1px solid $color_additional;
}

/*-----------------------------------------------------------*/
/*--------------------- ITEMS STYLES ------------------------*/
/*-----------------------------------------------------------*/
.item {
  position: relative;
  margin-bottom: 40px;
  max-width: 320px;
  border-bottom: 1px solid $color_additional;

  &__title {
    margin-bottom: 5px;
  }

  &__img {
    margin-bottom: 10px;
  }

  &__badge {
    position: absolute;
    top: 15px;
    right: 15px;
    display: flex;
    width: 55px;
    height: 55px;
    background-color: #fff;
    border-radius: 50%;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  &__price {
    font-weight: bold;
    margin-top: 5px;
    font-size: 1.125rem;
  }

  &__desc {
    margin-bottom: 10px;
  }

  &__measure {
    margin-top: -10px;
    font-size: 0.875rem;
  }

  img {
    width: 100%;
  }
}


.star-badge {
  width: 45px;
  height: 45px;
  text-align: center;
  z-index: 1;
  border-radius: 2px;
}
.star-badge:before,
.star-badge:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 45px;
  width: 45px;
  background: #fff;
  z-index: -1;
  border-radius: 2px;
}
.star-badge:before {
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}
.star-badge:after {
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg);
}

/*-----------------------------------------------------------*/
/*--------------------- BUTTONS STYLES ----------------------*/
/*-----------------------------------------------------------*/
.btn {
  padding:        19px;
  min-width:      225px;
  font-size:      $font_size_btn;
  font-weight:    $font_weight_btn;
  border-radius:  0;
  border-color:   $color_primary;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  outline:        none;

  -webkit-transition: color 320ms ease-in-out, background-color 320ms ease-in-out;
  -ms-transition: color 320ms ease-in-out, background-color 320ms ease-in-out;
  transition: color 320ms ease-in-out, background-color 320ms ease-in-out;
}

.btn:hover {
  border-color: $color_primary;
}

.btn-primary {
  border-color:     $color_primary;
  color:            $color_primary;
  background-color: transparent;
}

.btn-primary:hover,
.btn:active:focus,
.btn:hover:focus,
.btn:active,
.btn:focus {
  background-color: $color_primary;

  outline:            none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-primary.btn-fill {
  color:            $color_inverse;
  background-color: $color_primary;
}

.btn.btn-hover-01 {
  position: relative;
  overflow: hidden;

  &:hover {
    background-color: transparent;
  }

  &:after {
    @include content-tl(50%, 50%, 350%, 100%, $color_primary);
    opacity: 0;
    z-index: -1;

    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, height 0.3s ease-in-out;
    transform: translateX(-50%) translateY(-50%) rotate(45deg) scaleY(0);
  }

  &:hover:after{
    opacity: 1;
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg) scaleY(1);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg) scaleY(1);
    transform: translateX(-50%) translateY(-50%) rotate(45deg) scaleY(1);
  }
}

.btn-fill.btn-hover-01 {

  &:hover {
    color: $color_primary;
  }

  & > span {
    position: relative;
    z-index:  1;
  }

  &:after {
    background-color: $color_inverse;
    z-index:          0;
  }
}

.btn-fill.btn-primary.btn-hover-01:hover {
  background-color: $color_primary;
}



/*-----------------------------------------------------------*/
/*--------------------- FORMS STYLES ------------------------*/
/*-----------------------------------------------------------*/




/*-----------------------------------------------------------*/
/*--------------------- COMPONENTS STYLES -------------------*/
/*-----------------------------------------------------------*/

/*--------------------- Social List -------------------------*/
.social-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  &__phone {
    font-size: 1.25rem;
  }
}

.social-list {
  list-style: none;
  text-align: center;

  &__item {
    display: inline-block;
  }

  .social-list__link {
    padding:   5px 9px;
    display:   inline-block;
    font-size: 1.25rem;
  }

  .social-list__item:last-child .social-list__link {
    padding-right: 0;
  }
}

/*--------------------- Icons -------------------------------*/
.icon:before {
  font-family: iconFont;
  font-style: normal;
}

.icon-facebook:before {
  content: "\0066";
}

.icon-instagram:before {
  content: "\0069";
}

.icon-500px:before {
  content: "\0035";
}

.icon-phone:before {
  content: "\0070";
}

.icon-mail:before {
  content: "\006D";
}

.icon-arrow-up:before {
  content: "\E803";
}
.icon-arrow-down:before {
  content: "\E800";
}



/*-----------------------------------------------------------*/
/*--------------------- FOOTER STYLES -----------------------*/
/*-----------------------------------------------------------*/
.footer {
  border-top: 1px solid $color_primary;
  margin-top: 20px;

  .copyright {
    text-align: center;
  }
}

.corner {
  position: relative;
  background-color: #FFF;
  line-height: 0;
  overflow: hidden;
}

.corner__tip:after,
.corner__tip:before {
  background-color: #FFF;
  position: absolute;
  display: block;
  z-index: 2;
  border-top-right-radius: 40%;
  width: 100%;
  height: 100%;
  content: "";
  transform: rotate(90deg);
  margin: 0;
}

.corner__tip:before {
  right: 100%;
  bottom: 0%;
  /* autoprefixer: off */
  background: -webkit-radial-gradient(-180% 200%, circle, rgba(255,255,255,0) 85%, rgba(0,0,0,.1) 93%);
  background: radial-gradient(-180% 200%, circle, rgba(255,255,255,0) 85%, rgba(0,0,0,.1) 93%);
}

.corner__tip:before {
  border-top: solid 1px $color_additional;
}

.corner__box:hover .corner__tip:before  {
  border-top: solid 2px $color_additional;
  margin: 0 -1px -2px 0;
}

.corner__tip:after {
  bottom: 100%;
  right: 0%;
  /* autoprefixer: off */
  background: -webkit-radial-gradient(-250% 320%, circle, rgba(255,255,255,0) 85%, rgba(0,0,0,.10) 93%);
  background: radial-gradient(-250% 320%, circle, rgba(255,255,255,0) 85%, rgba(0,0,0,.10) 93%);
}

.corner__tip:after  {
  border-right: solid 1px $color_additional;
}

.corner__box:hover .corner__tip:after  {
  border-right: solid 2px $color_additional;
  margin: 0 -2px -1px 0;
}

.corner__box {  /* edit these sizes for the default revealing corner size */
  height: 0px;
  width: 0px;
  right: 0;
  bottom: 0;
  position: absolute;
  overflow: visible;
  line-height: 1em;
  z-index: $z-index-item-desc;
}

.corner:hover .corner__box { /* edit corner size (First animation, when the whole page is rollovered) */
  height: 20px;
  width: 20px;
}

.corner div.corner__box:hover { /* edit corner size (Second animation, when the corner itself is rollovered) */
  height: 50px;
  width: 50px;
}

.corner__contents:after {
  position: absolute;
  bottom: 0;
  right: 0;
  content: "";
  background:  -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0) 37%, $color_additional 62%, rgba(230, 230, 230, 0.1) 64%, rgba(255, 255, 255, 0) 67%), -webkit-radial-gradient(-50% 150%, circle, rgba(0, 0, 0, 0) 74%, rgba(0, 0, 0, 0.2) 74%, rgba(0, 0, 0, 0) 81%);
  background:  linear-gradient(45deg, rgba(255, 255, 255, 0) 37%, $color_additional 62%, rgba(230, 230, 230, 0.1) 64%, rgba(255, 255, 255, 0) 67%), radial-gradient(-50% 150%, circle, rgba(0, 0, 0, 0) 74%, rgba(0, 0, 0, 0.2) 74%, rgba(0, 0, 0, 0) 81%);
  display: block;
  width: 133%;
  height: 133%;
  transform: rotate(450deg);
}

.corner__tip {
  position: absolute;
  bottom: 0;
  right: 0;
  content: "";
  background: linear-gradient(-45deg, $color_additional 17%, #dfdfdf 18%, #f5f5f5 30%, #f8f8f8 34%, #eee 39%, rgba(200,200,200,0) 41%);
  background: -webkit-linear-gradient(-45deg, $color_additional 17%, #dfdfdf 18%, #f5f5f5 30%, #f8f8f8 34%, #eee 39%, rgba(200,200,200,0) 41%);
  display: block;
  width: 100%;
  height: 100%;
}

.corner__contents {
  width: 125%;
  position: absolute;
  display: block;
  overflow: hidden;
  -webkit-mask: -webkit-linear-gradient(-45deg, transparent 49%, #000 53%);
  bottom: 0;
  right: 0;
  height: 125%;
}

.corner__contents:before{
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #eeeef4; /* Match this background color to #fpc_effect-back */
}

.corner__box,
.corner__contents,
.corner__tip {
  -webkit-transition-property: all;
  -webkit-transition-duration: .3s;
  -webkit-transition-timing-function: cubic-bezier(0, 0.35, .5, 1.7);
}

.contents__title {
  margin: 0;
  margin-bottom: 15px;
}


/*-----------------------------------------------------------*/
/*--------------------- ITEM OPENED -------------------------*/
/*-----------------------------------------------------------*/
.is-open {
  .corner div.corner__box {
    height: 100%;
    width: 100%;
  }

  .corner__tip {
    background: #eeeef4;
  }

  .corner__tip:hover {
    color: $color_primary;
  }

  .corner__contents {
    width: 100%;
    height: 100%;
    -webkit-mask: none;
    padding: 25px;
    box-sizing: border-box;
  }

  .corner__contents:before,
  .corner__contents:after,
  .corner__tip:before,
  .corner__tip:after{
    display: none;
  }
}

/* To top
   ========================================================================== */
.to-top {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

/* Hero block
   ========================================================================== */
.hero {
  height: 200px;

  &__content {
    text-align: center;
  }

  &__title {
    margin-top: 0;
  }
}
