/* Typography
   ========================================================================== */
$font_body: 'Open Sans', sans-serif;
$font_logo: 'Dancing Script', cursive;
$font-head: 'Playfair Display', serif;

$font_size_body: 15px;
$font_size_logo: 30px;
$font_size_btn: 14px;

$font_weight_btn: 700;

$line_height_body: 24px;
$line_height_heading: 48px;

/* Colors
   ========================================================================== */
$color_primary: #2F2A31;
$color_additional: #ddd;
$color_neutral: #c7c7c7;
$color_inverse: #fff;

$color_text_body: #111;
$color_link_hover: #999;
$color_error: #9c1d1b;

/* Sizes
   ========================================================================== */
$container-width-sm: 540px;
$container-width-md: 720px;
$container-width-lg: 960px;
$container-width-xl: 1140px;

$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1140px;

$border-radius: 3px;

/* Z-index
   ========================================================================== */
$z-index-select: 4;
$z-index-radio: 2;
$z-index-item-desc: 3;
