<!DOCTYPE html>
<!--[if IE 9]> <html class="ie9" lang="en-us"> <![endif]-->
<!--[if gt IE 9]><!-->
<html lang="en-us">
<!--<![endif]-->
<head>
  <!-- Basic page needs ================================================== -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Black Kitty - Випічка та печмво на замовлення</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Page info ========================================================= -->
  <meta name="author" content="Tetiana Bykovets">
  <meta name="description" content="Tetiana Bykovets - price list">
  <meta name="keywords" content=", cookies, bakery, sweets, candy, cream, pie, food">

  <!-- Fonts ============================================================= -->
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Open+Sans:400,700|Playfair+Display:400,700&amp;subset=cyrillic" rel="stylesheet">

  <!-- Stylesheets ======================================================= -->
  <!-- <link rel="stylesheet" href="css/main.css"> -->

  <!-- Scripts =========================================================== -->
  <!-- Google Analytics -->

  <!-- Hotjar -->

  <!-- Favicon =========================================================== -->
  <link rel="apple-touch-icon" sizes="180x180" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/favicon-16x16.png">
  <link rel="mask-icon" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="theme-color" content="#000000">

  <!-- Manifest ========================================================= -->
  <link rel="manifest" href="<%= htmlWebpackPlugin.files.publicPath %>static/manifest.json">
</head>
  <body>
    <div id="app"></div>
    <%= htmlWebpackPlugin.options.serviceWorkerLoader %>
  </body>
</html>
