/* ==========================================================================
   Filters
   ========================================================================== */
.filters {
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.filter__group .filters__box:first-child {
  margin-right: 20px;
}

.filters__box {
  min-height: 30px;
  width: 100%;
}

.filters__box .radio {
  margin-left: 20px;
}