/* ==========================================================================
   Filters
   ========================================================================== */
.filters {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.filter__group .filters__box:first-child {
  margin-left: 20px;
}

.filters__box {
  min-height: 30px;
  width: 100%;
}

.filters__box .radio:not(:first-child) {
  margin-left: 20px;
}

.filters__box:first-child,
.filters__box:last-child {
  max-width: 200px;
}

.filters__box:nth-child(2) {
  max-width: 400px;
}
