/* ==========================================================================
   Footer
   ========================================================================== */
.footer {
  border-top: 1px solid $color_primary;
  background-color: #18191f;
  color: #f3f2f4;
  padding: 15px 0;

  .copyright {
    text-align: center;
    margin: 0;
  }
}