/* ==========================================================================
   Header
   ========================================================================== */
.header {
  margin-top: 25px;
  margin-bottom: 70px;
}

/* Logo
   ========================================================================== */
.logo {
  font-weight: normal;
  text-align: center;
  margin: 0;
  position: relative;

  &:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 13px;
    left: 0;
    background-color: $color_primary;
    height: 1px;
    width: 100%;
    z-index: -1;
  }

  &__link {
    display: inline-block;
    padding: 0 20px;
    background-color: $color_inverse;

    &:hover {
      color: $color_primary;
    }
  }

  &__text {
    font-family:    $font_logo;
    font-size:      $font_size_logo;
    vertical-align: middle;
  }

  &__img {
    display: inline-block;
    width: 100%;
    max-width: 37px;
    vertical-align: middle;
  }

  .logo__mustache {
    transform-origin: 50% 50%;
  }
}

.logo__link:hover {
  .logo__mustache {
    -webkit-animation: mMove .5s ease-in-out 0s forwards;
    animation: mMove .5s ease-in-out 0s forwards;
  }
}

@-webkit-keyframes mMove {
  0% { transform: rotate(0deg);}
  25% { transform: rotate(15deg);}
  50% { transform: rotate(-20deg);}
  75% { transform: rotate(15deg);}
  100% { transform: rotate(0deg);}
}

@keyframes mMove {
  0% { transform: rotate(0deg);}
  25% { transform: rotate(15deg);}
  50% { transform: rotate(-20deg);}
  75% { transform: rotate(15deg);}
  100% { transform: rotate(0deg);}
}
