/* ==========================================================================
   Header
   ========================================================================== */
.header {
  padding-top: 20px;
}

/* Logo
   ========================================================================== */
.logo {
  font-weight: normal;
  text-align: center;
  margin: 0;
  position: relative;

  &:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 13px;
    left: 0;
    background-color: $color_primary;
    height: 1px;
    width: 100%;
    z-index: -1;
  }

  &__link {
    display: inline-block;
    padding: 0 20px;
    background-color: $color_inverse;

    &:hover {
      color: $color_primary;
    }
  }

  &__text {
    font-family:    $font_logo;
    font-size:      $font_size_logo;
    vertical-align: middle;
  }

  &__img {
    max-height: 35px;
    height: 100%;
    vertical-align: middle;
  }
}