/* ==========================================================================
   Icons
   ========================================================================== */
.icon:before {
  font-family: iconFont;
  font-style: normal;
}

.icon-facebook:before {
  content: "\0066";
}

.icon-instagram:before {
  content: "\0069";
}

.icon-500px:before {
  content: "\0035";
}

.icon-phone:before {
  content: "\0070";
}

.icon-mail:before {
  content: "\006D";
}

.icon-arrow-up:before {
  content: "\E803";
}
.icon-arrow-down:before {
  content: "\E800";
}