/* Social list
   ========================================================================== */
.social-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  &__phone {
    font-size: 1.25rem;
  }
}

.social-list {
  list-style: none;
  text-align: center;

  &__item {
    display: inline-block;
  }

  .social-list__link {
    padding:   5px 9px;
    display:   inline-block;
    font-size: 1.25rem;
  }

  .social-list__item:last-child .social-list__link {
    padding-right: 0;
  }
}

/* Feed List
   ========================================================================== */
.feed-list-container {
  padding: 50px 0;
  background-color: #6b7292;
  text-align: center;
  color: #f3f2f4;
}

.feed-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;


  &__item {
    overflow: hidden;
    width: 50%;
    height: calc(100vw / 2);
  }

  a {
    display: block;
    line-height: 0;
  }

  img {
    width: 100%;
  }
}